<!DOCTYPE html>
<html>
<% include head %>
<body>
<% include navbar %>
<header class="bright-head" class="container-fluid"> 
    <H1>Welcome <%= logs.login %></H1>
    <p>This isn't a degenerated website. You shouldn't lose your honor and innocence in your journey here.</p>
    <h6>At least, be wary of the wild trolls of internet.</h6>
</header>
<section class="bright-board" class="container-fuild">
    <div class="bright-cell">
        <H1>What is MyHaremList ?</H1>
        <p>
            MyHaremList is a website where you can make a list with your favorite characters.
        </p>
        <p>
            This is the 21st century, there is infinite fiction-stories and moreover infinite fiction characters. MHL shall list them all but there is more...
    </div>
    <div class="bright-cell">
        <h3>It's just to make lists ? Why do you call it "Harem" then ?</h3>
        <p>
            So close, yet so far. Gather all the names you would be wedded to, would you call it a list ?<br> 
            Haven't you ever heard some otaku shout "THIS IS MY WAIFU" or an innocent girl talking about her "Husband" ?<br>
            In a world where the Eiffel tower already have a waifu, where someone get married 86 times and divorced 82 or is a groom for only a week, then why wouldn't you marry any character you want?<br>
            There is no shame to love a fictional character, some people worked hard to give life to those pixel and ink heaps ! 
        </p>
    </div>
    <h2>You fool ! There is no more reason for you to fly ! Go ahead and fill Your Harem List !</h2>
</section>
<section class="row">
    <div name="Last-users" class="col-sm-6">
    </div>
    <div name="Last-char" class="col-sm-6">
    </div>
</section>
</body>
</html>