<!DOCTYPE html>
<html>
<head>
	<title>My Harem List</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div>
		<!--Haut de page, bannière et menu-->
		<h1>Prémises du site.</h1>
	</div>
	<div>
		<!--Corps de page, listes et new-->
		<li>
			<ul><a href="/login">Login</a></ul>
			<ul>Encore du travail?</ul>
			<ul>-Oui mon seigneur</ul>
		</li>
	</div>
	<div>
		<!--Pied de page, liens et disclaimer-->
		Disclaimer
	</div>
</body>
</html>