<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <h1>login registration</h1>
    <form action="/login/submit" method="post">
        <p>
            <label for="nickname">Nickname :</label>
            <input type="text" name="nickname" id="nickname" autofocus />
        </p>
        <p>
            <label for="email">Email :</label>
            <input type="email" name="email" id="email"/>
        </p>
        <p>
            <label for="birth">Birthday :</label>
            <input type="date" name="birth" id="birth"/>
        </p>
        <p>
            <label for="gender">Gender :</label>
            <input type="radio" name="gender" value="Husband">Husband 
            <input type="radio" name="gender" value="Waifu">Waifu
        </p>
        <p>
            <label for="password">Password :</label>
            <input type="password" name="password" id="password"/>
        </p>
        <input type="submit" />
    </form>

</body>
</html>