<!DOCTYPE html>
<html>
<% include head %>
<body>
<% include navbar %>
<header class="bright-head" class="container-fluid">
    <h1 class="bright-cell">
    Search : <%= research.word %>
    </h1>
    <form action="/search" method="post">
        <label for="word">Name :</label>
        <input type="text" name="word" autofocus required/>
        <select name="type" id="table">
            <option value="characs">Characters</option>
            <option value="universe">Universe</option>
            <option value="user">Users</option>
        </select>
        <input type="submit" value="Search">
    </form>
</header>
<div class="bright-board" class="container-fluid">
<span>You can add a character from the universe it belongs to, and add a universe from <a href="/universe">here</a></span>
</div>
<section class="bright-board" class="container-fluid">
    <!--Before research -->
        <% if (research.type == null) { %> 
            <span>What are you looking for ?</span>
        <% } %>
    <!--If nothing's found -->
        <% if ( (research.name.length == 0) && research.type != null ) { %> 
            <h3>No match found.</h3>
        <% } %>
    <!--else do -->
        <% if ( research.name.length > 0 ) { %>
            <div class="row">
            <% for (i=0; i<research.name.length; i++) {%>
                <div class="col-sm-3">
                    <a href="/<%= research.type %>/<%= research.path[i] %>">
                        <span class="bright-cell">
                            <%= research.name[i] %>
                        </span>
                    </a>
                </div>
            <% } %>
            </div>
        <% } %>
</section>
</body>
</html>