<!DOCTYPE html>
<html>
<% include head %>
<body>
<% include navbar %>
<header class="bright-head" class="container-fluid">
    <h1>Universe Section !</h1>
    <h5>Or multiversection.</h5>
</header>
<div class="bright-board" class="container-fluid">
    <h3>Use the search page before adding a new universe</h3>
    <h5>Heavy responsibilities rest on this action</h5>
</div>
<% if ( typeof( error ) != 'undefined' ) { %>
    <div class="bright-head" class="container-fluid">
        <span><%= error %></span>
    </div>
<% }; %>
<% if ( typeof( redirect ) != 'undefined' ) { %>
    <div class="bright-head" class="container-fluid">
        <a href="<%= redirect %>">Created here</a>
    </div>
<% }; %>
<div class="bright-board" class="container-fluid">
    <form action="/universe" method="post">
        <p>Name :</p><p>
            <input type="text" name="universeName" autofocus required/>
        </p><p>Description :</p>
            <textarea name="universeDesc" minlength="100" maxlength="660" required></textarea>
        </p>
        <input type="submit" value="Add">
    </form>
</div>
</body>
</html>