<!DOCTYPE html>
<html>
<% include head %>
<body>
<% include navbar %>
<% if(logs.logged){ %>
    <header class="bright-head" class="container-fluid">
        <h1> You are logged as <%= logs.login %>.</h1>
    </header>
    <section class="bright-board" class="container-fluid">
        <span> <a href="/">Back to the homepage</a></span>
    </section>
<% } %>
<% if(! logs.logged){ %>
    <header class="bright-head" class="container-fluid">
        <H1>Sign up over here !</H1>
    </header>
    <% if(typeof(error)!='undefined') { %>
        <section class="bright-board" class="container-fluid">
            <span><%=error %> </span>
        </section>
    <% } %>
    <section class="bright-board" class="container-fluid">
        <form action="/user" method="post">
            <p>
                <label for="nickname">Nickname :</label>
                <input type="text" name="nickname" id="nickname" autofocus required/>
            </p>
            <p>
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" required/>
            </p>
            <p>
                <label for="password">Password :</label>
                <input type="password" name="password" id="password" required/>
            </p>
            <input type="submit" />
        </form>
    </section>
<% }; %>
</body>
</html>